section
    h1 Sign Up
    
    form(data-hook='signup-form')
        .error-text(data-hook='error-msg')
        fieldset(data-hook='field-container')
        button.btn.btn-primary(type='submit') Sign Up