body
    nav.navbar.navbar-inverse.container-fluid
        a.navbar-brand(href='/') Exuberant
        ul.nav.navbar-nav.navbar-right
            li 
                a(href='/login') Login
            li
                a(href='/logout') Logout
            li 
                a(href='/signup') Signup
    main(data-hook='page-container')